<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="address" class="org.example.autowire.xml.Address">
        <property name="city" value="indore"/>
        <property name="state" value="mp"/>
    </bean>

    <!--    <bean name="stu" class="org.example.autowire.xml.Student"-->
    <!--        autowire="byType"></bean>-->
    <!--          autowire="byName"></bean>-->

    <bean name="stu" class="org.example.autowire.xml.Student"
          autowire="constructor"></bean>


</beans>